.Category {
    position:relative;
    padding: 50px;
    border: 1px solid #95afc0;
    border-radius: 10px;
    cursor: pointer;
}

.Category:hover {
    background-color: #DFF9FB
}

.Category__name {
    text-transform: uppercase;
}