.DeleteButton {
    position: absolute;
    top: 5px;
    right: 7px;
    transform: rotate(45deg);
    font-size: 1.5rem;
    color: #535c68;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.DeleteButton:hover {
    color: black;
    font-size: 1.6rem;
}