.Flashcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 150px;
    min-height: 100px;
    position: relative;
    padding: 20px;
    border: 1px solid #95afc0;
    border-radius: 10px;
    cursor: pointer;
}

/* .Flashcard--reversed {
    animation: turn 1s ease-out
} */

.Flashcard:hover {
    background-color: #DFF9FB
}

.Flashcard__name {
    font-size: 0.9rem;
    /* background-color: rgb(106, 51, 155); */
}



/* 
@keyframes turn {
    100% {
        transform: scaleX(-1);
    }
} */